* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  height: 100vh;
  width: 100vw;
  background-image: url(hossein-azarbad-GVg-x4MiriM-unsplash.jpg);
  background-size: cover;
background-position: 100% 30%;
}
.overlay{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.404);
  display: flex;
  
}
.top{
  height: 100vh;
  width: 70vw;


}


nav{
  height: 10vh;
  width: 100vw;
background-color: rgba(0, 0, 0, 0.664);
  padding: 1vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 20px black;

}
.n-left{
  width: 10vw;
  display: flex;
 
  align-items: center;
 color: rgb(255, 255, 255);
}
.n-left img{
  width: 4vw; 

}
.n-left h1{
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  
}
.n-right{
width: 65vw;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  gap: 5vw;
}
.nav-btn{
  display: flex;
  gap: 1vw;

}
.links{
  display: flex;
gap: 4vw;
align-items: center;

}
.links a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;

  
}
.links a:hover{
  font-size: 22px;
  font-weight: 600;
  transition: 0.2s 0.1s all;
}
.n-right button{
  padding: 5px 20px;
  border: none;
  font-size: 20px;
  border-radius: 15px;
}
.n-right button:hover{
  transform: scale(0.9);
  color: white;
  background-color: rgb(0, 132, 255);

}
.top-content{
  padding: 1vw 4vw ;
  color: white;
 display: flex;
 flex-direction: column;
 gap: 1vw;

  

}
.top-content h1{
  font-size: 70px ;
  
}
.top-content p{
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
}
.top-btn{
  display: flex;
  gap: 1vw;
}
.top-content button{
  height: 50px;
 width: 180px;
 font-weight: 500;
  border: none;
  font-size: 25px;
  border-radius: 20px;
}
.top-content button:hover{
  transform: scale(0.9);
  color: white;
  background-color: rgb(0, 132, 255);
}
span{
  color: yellow;
  font-size: 80px;
  text-decoration: underline;
}
.bottom{
  height: 90vh;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.664);
  display: flex;
  flex-direction: column;
  box-shadow: -5px -5px 20px black;
  gap: 1vw;
  padding: 4vw 3vw;
  color: white;
  margin-top: 84px;
}
.bottom h2{
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.bottom h1{
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 238, 0);
  text-transform: uppercase;

}
.bottom p{
  font-size: 23px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  word-spacing: 2px;
}
.btn1{
   background-color: yellow;
   color: rgb(0, 0, 0);

cursor: pointer;
font-weight: 500;

}
.btn2{
  background-color: rgb(133, 255, 77);
  color: rgb(0, 0, 0);

cursor: pointer;
font-weight: 500;

}
.icons{
  display: flex;
  padding: 1vw 0;
  gap: 2vw;
  
}

.icons i {
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.icons i:hover{
  color: rgb(255, 238, 0);
  scale: 1.1;
}
